{% extends 'beer_haven/base.html' %}

{% block title %} Password Reset {% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <H3>Password Reset</H3>
            {% if validlink %}
                <p> enter Your new password twice: </p>
                    <form method="POST">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <p>
                            <input class="btn btn-primary btn-sm" type="submit" value="send">
                        </p>
                    </form>
            {% else %}
                <p>Link is incorrect, probably because it was already used. You have to begin password reset from the scratch</p>
            {% endif %}
        </div>
    </main>
{% endblock %}