{% extends 'beer_haven/base.html' %}

{% block title %} Password Reset {% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <H3>We sent You an email with instructions to define new password</H3>
            <div class="row">
                <p>
                    If you did not receive this message then make sure to enter the email
                    address you provided when you created your user account in the form.
                </p>
            </div>
        </div>

    </main>
{% endblock %}