{% extends 'beer_haven/base.html' %}

{% block title %} Password Reset Completed {% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <H3>Password reset completed</H3>
            <div class="row">
                <p>New password was set. Now You can log Yourself.</p>

            </div>
            <div>
                <p><a class="btn btn-primary btn-sm ml-3" href="{% url 'login' %}"> Login </a></p>
            </div>
        </div>

    </main>
{% endblock %}