{% extends 'beer_haven/base.html' %}

{% block title %} Cart details {% endblock %}

{% block content %}
    <main role="main">
        <div class="row">
        <h3 class>
            Cart
        </h3>
        </div>
        <div >

{#            {% if cart %}#}
                <table class="table cart">
                    <thead>
                        <tr class="d-flex navbar-dark bg-dark">
                            <th scope="col" class="col-1 navbar-brand d-flex align-items-center justify-content-center ">No.</th>
                            <th scope="col" class="col-3 navbar-brand d-flex align-items-center justify-content-center ">Ingredient</th>
                            <th scope="col" class="col-4 navbar-brand d-flex align-items-center justify-content-center ">Amount</th>
                            <th scope="col" class="col-1 navbar-brand d-flex align-items-center justify-content-center ">Unit Price</th>
                            <th scope="col" class="col-1 navbar-brand d-flex align-items-center justify-content-center ">Price</th>
                            <th scope="col" class="col-1 navbar-brand d-flex align-items-center justify-content-center ">Delete</th>
                        </tr>
                    </thead>
                    <tbody class="text-color-lighter">
                        {% for item in cart %}
                            {% with ingredient=item.ingredient %}
                            <tr class="d-flex">
                                <td class="col-1">{{ forloop.counter }}</td>
                                <td class="col-3 d-flex align-items-center justify-content-center "> {{ ingredient.name }}</td>
                                <td class="col-4 d-flex align-items-center justify-content-center ">
{#                                    {{ item.amount }}#}
                                    <form action="{% url "cart_add" ingredient.id %}" method="POST">
                                        {{ item.update_amount_form.amount }}{{ item.update_amount_form.override }}
                                        <input type="submit" value="change">
                                        {% csrf_token %}
                                    </form>
                                </td>
                                <td class="col-2 d-flex align-items-center justify-content-center "> {{ item.price }}</td>
                                <td class="col-1 d-flex align-items-center justify-content-center "> {{ item.total_price }}</td>
                                <td class="col-1 d-flex align-items-center justify-content-center ">

                                    <form action="{% url 'cart_remove' ingredient.id %}" method="POST">
                                        <input  class="btn btn-outline-secondary btn-sm" type="submit" value="Delete">
                                        {% csrf_token %}
                                    </form>
                                </td>
                            </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr class="total">
                            <td> Total </td>
                            <td>{{ cart.get_total_price }}</td>
                        </tr>
                    </tbody>
                </table>
{#                {% include 'beer_haven/pagination.html' %}#}
{#            {% endif %}#}
        </div>
        <div>
            <p>
                <a class="btn btn-secondary btn-sm ml-3"
                   href="{% url 'recipes' %}" role="button">Cotinue shopping &raquo;</a>
                {% if request.user.is_authenticated %}
                    <a class="btn btn-secondary btn-sm ml-3"
                        href="#" role="button">Order &raquo;</a>
                {% endif %}
                <a class="btn btn-secondary btn-sm ml-3"
                        href="{% url 'guest_order_create' %}" role="button">Order &raquo;</a>
            </p>
        </div>
    </main>
{% endblock %}