{% extends 'beer_haven/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-mt-5">
                    <h3 class="display-3">Greetings {{user.first_name | default:user.username}}</h3>
                    <p>
                        On this subsite You will find details about logged user
                    </p>
                </div>
            </div>
        </div>

    </main>
{% endblock %}